
* {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: rgba(11, 10, 9, 0.92);
  border-bottom: 1px solid rgba(200, 200, 200, 0.15);
  color: #c8c8c8;
}

/* WORKSPACES */
#workspaces button {
  padding: 0 10px;
  color: rgba(200, 200, 200, 0.3);
  border-bottom: 2px solid transparent;
  transition: all 0.15s;
}

#workspaces button.active {
  color: #c8c8c8;
  border-bottom: 2px solid #c8c8c8;
}

#workspaces button:hover {
  color: rgba(200, 200, 200, 0.7);
  background: rgba(200, 200, 200, 0.05);
}

/* WINDOW TITLE */
#window {
  color: rgba(200, 200, 200, 0.4);
  padding: 0 14px;
  letter-spacing: 1px;
}

/* TICKER CENTRE */
#custom-ticker {
  color: rgba(200, 200, 200, 0.2);
  letter-spacing: 2px;
  font-size: 11px;
}

/* MODULES DROITE */
#cpu,
#memory,
#network,
#pulseaudio,
#clock,
#custom-pomodoro,
#custom-power {
  padding: 0 12px;
  color: rgba(200, 200, 200, 0.5);
  border-left: 1px solid rgba(200, 200, 200, 0.08);
  letter-spacing: 1px;
}

#clock {
  color: #c8c8c8;
  letter-spacing: 2px;
}

#cpu {
  color: #bdbdbd;
}

#memory {
  color: #b0b0b0;
}

#network {
  color: #a6a6a6;
}

#pulseaudio {
  color: #b5b5b5;
}

#custom-pomodoro {
  color: rgba(200, 200, 200, 0.6);
  letter-spacing: 2px;
}

#custom-power {
  color: rgba(210, 210, 210, 0.5);
  padding: 0 16px;
}

#custom-power:hover {
  color: #d0d0d0;
  background: rgba(210, 210, 210, 0.08);
}